<link rel="stylesheet" href="/assets/default/css/all.css">
	<link rel="stylesheet" href="/assets/default/css/bulma.min.css">

	<link rel="stylesheet" href="/assets/default/css/style.css">
	<link rel="stylesheet" href="/assets/default/css/colors.css">

<style>
.has-text-centered: text-align: center;
</style>

<h1 class="has-text-centered is-size-1 pt-1 has-text-info" style="color: red">TITLE</h1>
<h1 class="has-text-centered is-size-2 pt-1 has-text-info">TITLE</h1>
<h2 class="has-text-centered is-size-3 pt-1 has-text-danger"><%= it.auth.user.id %></h2>
