.invoiceContent{
	width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding: 10mm 10mm 38mm 10mm;
    font-size: 12px;
    position: relative;
    font-family: sans-serif;
    border: 1px solid #dedede;
    border-radius: 3px;
}
.invoiceContent:hover{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.invoiceHeader p{
	margin: 0 0 2px 0;
}
.invoiceFooter{
	position: absolute;
    width: calc(21cm - 20mm);
    bottom: 5mm;
    border-top: 1px solid #358b9d;
    padding-top: 3mm;
    padding-bottom: 3mm;
    border-bottom: 1px solid #358b9d;
}

.invoiceFooter p{
	margin: 0 0 5px 0;
}

@page 
{
	size: auto;   /* auto is the initial value */
	margin: 0mm;  /* this affects the margin in the printer settings */
}

.invoiceItem {
    width: calc((21cm / 3) + 1rem);
    height: calc((29.7cm / 3) + 3rem);
    display: inline-block;
    position: relative;
}
.invoiceItem .invoiceContainer {
    position: absolute;
    left: calc((-1)*(21cm / 3) - .75rem);
    top: calc((-1) * (29.7cm / 3) - 3rem);
    transform: scale(0.33);
    transition: transform 0.5s ease-out, left 0.2s ease-out;
}

.invoiceItem:hover .invoiceContainer {
    transform: scale(0.36);
}
.invoiceItem h1{
    transform: scale(3);
}
.invoiceItem.is-active .invoiceContainer{
    position: fixed;
    transform: scale(1);
    left: calc(50% - (21cm / 2)) !important;
    top: 130px !important;
    z-index: 2;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    background: #fff;
    overflow-y: scroll;
    max-height: calc(100vh - 170px);
}

.invoiceItem.is-active h1{
    display: none;
}

.invoiceActions{
    display: none;
    width: 21cm;
    position: fixed;
    left: calc(50% - (21cm / 2)) !important;
    background: #fff !important;
    z-index: 1;
    top: 88px;
}

.invoiceItem.is-active .invoiceActions{
    display: block;
}